@import '../../styles/_variables';

.lassie__main {
  background-color: #070918;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;

  @include mediaMaxL {
    padding: 0;
  }

  @include mediaMaxXS {
    border-radius: 34px 34px 0px 0px;
  }
}

.lassie__container {
  display: flex;
  justify-content: space-between;

  @include mediaMaxL {
    height: 700px;
  }

  @include mediaMaxM {
    height: 1030px;
    flex-direction: column;
    align-items: center;
  }

  @include mediaMaxXS {
    height: 670px;
    margin: 16px auto 0;
  }
}

.lassie__about {
  color: #ffffff;
  margin-top: 128px;

  @include mediaMaxXL {
    margin-top: 120px;
  }

  @include mediaMaxM {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.lassie__title {
  margin: 0;
  font-weight: 600;
  font-size: 90px;
  line-height: 104px;

  @include mediaMaxXL {
    font-size: 82px;
    line-height: 90px;
  }

  @include mediaMaxL {
    font-size: 82px;
  }

  @include mediaMaxM {
    font-size: 100px;
    line-height: 120%;
    text-align: center;
  }

  @include mediaMaxXS {
    font-size: 34px;
  }
}

.lassie__subtitle {
  margin-top: 40px;
  font-size: 32px;
  line-height: 48px;
  max-width: 630px;

  @include mediaMaxXL {
    margin-top: 24px;
    font-size: 28px;
    line-height: 38px;
  }

  @include mediaMaxL {
  }

  @include mediaMaxM {
    margin-top: 18px;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
  }

  @include mediaMaxXS {
    margin-top: 16px;
    font-size: 18px;
    max-width: 328px;
    margin-left: auto;
    margin-right: auto;
  }
}

.lassie__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 79px;
  margin-top: 64px;
  background: #e300ff;
  border-radius: 50px;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: #070918;
  text-decoration: none;

  @include mediaMaxXL {
    margin-top: 48px;
  }

  @include mediaMaxL {
    width: 236px;
    height: 70px;
    font-size: 24px;
  }

  @include mediaMaxXS {
    width: 166px;
    height: 58px;
    font-size: 16px;
    margin-top: 24px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}

.lassie__buttonPicture {
  width: 20px;
  height: 20px;
  margin-left: 10px;

  @include mediaMaxL {
    width: 19px;
    height: 19px;
    margin-left: 12px;
  }

  @include mediaMaxXS {
    width: 12px;
    height: 12px;
    margin-left: 10px;
  }
}

.lassie__picture {
  width: 890px;
  height: 880px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url('../../../public/illustrate-lassie-smoke.png');
  background-image: image-set(
    url('../../../public/illustrate-lassie-smoke.png') 1x,
    url('../../../public/illustrate-lassie-smoke@2x.png') 2x,
  );

  @include mediaMaxXL {
    width: 550px;
    height: 700px;
    background-image: url('../../../public/illustrate-lassie-smoke-base.png');
    background-image: image-set(
      url('../../../public/illustrate-lassie-smoke-base.png') 1x,
      url('../../../public/illustrate-lassie-smoke-base@2x.png') 2x,
    );
  }

  @include mediaMaxL {
    width: 380px;
  }

  @include mediaMaxM {
    width: 864px;
    height: 552px;
    background-image: url('../../../public/illustrate-lassie-smoke-compact.png');
    background-image: image-set(
      url('../../../public/illustrate-lassie-smoke-compact.png') 1x,
      url('../../../public/illustrate-lassie-smoke-compact@2x.png') 2x,
    );
  }

  @include mediaMaxXS {
    background-image: url('../../../public/illustrate-lassie-smoke-small.png');
    width: 360px;
    height: 364px;
  }
}
