$xlBreak: 1920px;
$lBreak: 1440px;
$mBreak: 1320px;
$xsBreak: 900px; // ?? нет такого в макетах

@mixin mediaMaxXL {
  @media (max-width: $xlBreak) {
    @content;
  }
}

@mixin mediaMaxL {
  @media (max-width: $lBreak) {
    @content;
  }
}

@mixin mediaMaxM {
  @media (max-width: $mBreak) {
    @content;
  }
}

@mixin mediaMaxXS {
  @media (max-width: $xsBreak) {
    @content;
  }
}


$container-wide-width: 1540px;
$container-base-width: 1120px;
$container-compact-width: 864px;
$container-mobile-width: 330px;


@mixin contentContainer {
  $pad: 20px;

  max-width: $container-wide-width;
  width: 100%;
  padding-left: $pad;
  padding-right: $pad;
  margin-left: auto;
  margin-right: auto;

  @include mediaMaxXL {
    max-width: $container-base-width;
  }

  @include mediaMaxL {
    max-width: $container-compact-width;
  }

  @include mediaMaxM {
    max-width: none;
    width: auto;
  }
}
