@import './fonts.scss';
@import './variables';

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: $primary-text-color;

  p {
    margin: 0;
    padding: 0;

    // &::selection {
    //   background-color: rgba(213, 228, 247, 0.1);
    // }
  }

  h1,
  h3 {
    font-weight: normal;
    margin: 0;
    padding: 0;

    // &::selection {
    //   background-color: rgba(213, 228, 247, 0.1);
    // }
  }

  button {
    border: none;
    padding: 0;
    outline: none;

    // &::selection {
    //   background-color: rgba(213, 228, 247, 0.1);
    // }
  }

  // img,
  // a,
  // br {
  //   &::selection {
  //     background-color: rgba(213, 228, 247, 0.1);
  //   }
  // }
}
