@import '../../styles/_variables';

.team__main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.team__container {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  margin: 68px 190px 0;
  padding-bottom: 500px;

  @include mediaMaxL {
    max-width: 1120px;
    margin: 68px auto 0;
    padding-bottom: 350px;
  }

  @include mediaMaxM {
    max-width: 864px;
    padding-bottom: 300px;
  }

  @include mediaMaxXS {
    max-width: 330px;
    margin: 0 auto 0;
  }
}

.team__title {
  font-size: 68px;
  line-height: 82px;
  letter-spacing: -1px;

  @include mediaMaxL {
    font-size: 47px;
    line-height: 56px;
  }

  @include mediaMaxXS {
    font-size: 38px;
  }
}

.team__subtitle {
  margin-top: 24px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.01em;

  @include mediaMaxXS {
    font-size: 18px;
    line-height: 28px;
  }
}

.team__members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 68px 20px;
  grid-gap: 68px 20px;
  margin-top: 96px;
  margin-right: -20px;

  @include mediaMaxL {
    margin-top: 68px;
  }
}

// @supports not (gap: 68px 20px) {
//   .team__members {
//     margin: -0.5em;
//   }
//   .team__members > * {
//     margin: 0.5em;
//   }
// }
// .team__members > * {
//   margin-right: 20px;
// }

.team__icons {
  display: flex;
  margin-top: 8px;
}
